  .body {
    font-family: Arial, sans-serif;
  }
  
  .contenedor {
    max-width: 1200px;
    background-color: rgb(255, 6, 6);
  }
    
  .header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    background-color: #535e89;
    padding: 20px;
    border: 20px solid black;
    border-bottom: none;
  }
  
  .header > div, .header > nav {
    background-color: #fa8072; 
    padding: 20px;
  }
  
  .banner {
    background-color: #d9ff00;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    border: 20px solid rgb(255, 140, 0);
  }

  .frame {
    background-color: rgb(0, 0, 0);
    padding: 20px;
  }
  
  .main {
    display:flex;
    gap: 20px;
    background-color: #535e89;
    justify-content: space-between;
    border: 20px solid black;
    position: relative;
  }

.articles {
    display: grid;
    gap: 20px;
    flex:4;
    padding: 20px;
  }

  .articulo {
    background-color: #1e90ff;
    padding: 20px;
  }
  
  .navegacion {
    grid-column: span 2;
    background-color: #87cefa;
    padding: 20px;
  }
  
  .publicidad-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fd513e;
    border-left: 20px solid black;
  }
  
  .publicidad {
    background-color: #fffb0e;
    margin: 20px;
    padding: 20px;
  }
  
  .pie {
    background-color: #ecdb7a;
    padding: 20px;
    border: 20px solid black;
    margin-top: 20px;
  }

  @media screen and (max-width: 992px) {
   
    .header, .main{
      display: flex;
      flex-direction: column;
      
    }

    .publicidad-container{
      border-left: none;
      border-top: 20px solid black;
    }

    .contenedor{
      background-color: aqua;
    }
  }

  @media screen and (max-width: 600px) {
    .articles{
      display: flex;
      flex-direction: column;
      
    }

    .contenedor{
      background-color: rgb(20, 249, 20);
    }
  }